.wrapper{
    max-width: 1920px; 
    background-color: #000;
 }

.hero__title{
    color: #6D95FC;
    font-family: Poppins,sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hero__text{
    color: #FFF;
    font-family: Poppins,sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
}