.footer{
    padding: 120px 80px;
    
    &__conteiner{
    }
    &__logo{
        display: flex;
        text-align: center;
      
    }
    &__title{
        color: #36485C;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
    }
    &__chose{
        width: 1280px;
        display: flex;
        gap: 297px;
    }
    &__row{
        display: flex;
        gap: 24px;
        color: #36485C;
        font-family: Inter,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
            }
    &__features{
        width:192px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__copyright{
        margin-top: 104px;
        display: flex;
        gap: 732px;
    }
    &__text{
        color: #5F7896;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
    }
    &__copyright-row{
        display: flex;
        gap: 56px;
    }
}

@media (max-width: 768px){
    .footer{
        padding: 80px 20px 20px 40px;

        &__chose{
            width: auto;
            display: flex;
            gap: 56px;
            flex-direction: column;
        }
        &__row{
            flex-direction: column;
            align-items: center;
        }
        &__copyright{
            margin-top: 104px;
            display: flex;
            flex-direction: column;
            gap: 56px;
            align-items: center;
            text-align: center;
        }
    }

}