// & == .header
.header {

    padding: 24px 80px;

    &__container {
       
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 56px;
        margin-left:74px;
        margin-right: 464px;
    }
    &__ahref {
        color: #36485C;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
    }  
    &__open_account{
        margin-right: 56px;
    }
}

@media (max-width: 768px){ 
    .header{
        padding: 16px 20px;

        &__nav-row{
            margin: auto;
            display: none;
        }

        &__open_account{
            display: none;
        }

        &__sign{
            display: none;
        }

    }
}