// Color 

// scss Змінна
$color-black: #000000;
$color-white: #ffffff;
$color-text: #36485C;

$color-grey: #F4F4F4;


// css Змінна
:root {
    --color-black: #000000;
    --color-grey: #F4F4F4;
    // var(--color-grey)
}